<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add user</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <style>
                .img
                {
                 height:90px;

                 width:90px;
                }
            </style>

</head>
<body>


<img src="https://media.licdn.com/dms/image/C4E0BAQErzHJr7lA-uQ/company-logo_200_200/0?e=2159024400&v=beta&t=SNMUVGNKZompTKxWPdbrZt-Z0lleQ6y4nJ2MqfRs7jI" class="img">



<form class="form-horizontal" th:object="${userForm}" th:action="@{/user/saveUser}" method="post">
    <input type="hidden" th:field="*{id}" />
    <div class="row justify-content-sm-center">
        <div class="container pt-3">
            <div class="row justify-content-sm-center">
                <div class="col-sm-6 col-md-4">

                    <div class="card-body">
                        <h2>UPDATE USER</h2>
                        <div class="input-group">
                            <div th:each = "user: ${userForm}" >
                            <span>Name</span>
                            <input id="name" type="text"  th:value="${user.name}" class="form-control" name="name" placeholder="Name">
                        </div>
                        <br><br><br>
                        <div class="input-group">
                            <div th:each = "user: ${userForm}" >
                            <span>Department</span>
                            <input id="department" type="text"  th:value="${user.department}" class="form-control" name="department" placeholder="Department">
                        </div>



                        <br>
                            <br><br>

                        <div class="input-group">
                            <div th:each = "user: ${userForm}" >
                            <span>Floor</span>
                            <input id="floor" type="text" th:value="${user.floor}" class="form-control" name="floor" placeholder="Floor">
                        </div>

                        <br><br><br>
                        <div class="input-group">
                            <div th:each = "user: ${userForm}" >
                            <span> Extension number</span>
                            <input id="extensionnumber" type="text" th:value="${user.extensionnumber}"  class="form-control" name="extensionnumber" placeholder="Extension Number">
                        </div>
                        <br><br><br>
                        <button class="btn btn-lg btn-primary btn-block mb-1"   type="submit">Update</button>
                        <label class="checkbox float-left">
                        </label>

                    </div>
                </div>

            </div>
        </div>
    </div>
</form>


</body>
</html>




